# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
env/
.VSCodeCounter/
.pytest_cache/

# PyInstaller временные файлы
build/
dist/
*.spec

# Локальные базы данных и файлы
*.db
*.txt
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Локальные настройки IDE
.idea/
.vscode/

# Локальные файлы конфигурации
*.local
*.bak
*.swp

# Сгенерированные исполняемые файлы (если они не в Releases)
*.exe